@model MvcCv.Models.TblAbout
@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Güncelle2", "Hakkımda", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id, new { @class = "form-control" })
    <label>Ad</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Soyad</label>
    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    <br />
    <label>Adres</label>
    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    <br />
    <label>Telefon</label>
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <br />
    <label>Mail</label>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    <label>Hakkımda</label>
    @Html.TextAreaFor(x => x.About, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}





