@model MvcCv.Models.TblExperience
@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Güncelle2", "Deneyimler", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id, new { @class = "form-control" })
    <label>Kurum</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Görev</label>
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Details, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}
